/*
background purple: #540B51
background ivory: #F3EAE2
button blue: #4285F4
titles black: #191817
paragraph black: #000000
paragraph yellow: #ECB12F
links blue: #2E71A6
footer links grey: #454245
*/

*{margin: 0;
padding: 0;}


#top{background-color: #540B51;
color: white;
text-align: center;
margin-bottom: 1rem;
padding: 20px;}

#logo{text-align: left;}

#logo img{width: 15vw;
}

h1{margin-bottom: 15px;}

h2{margin-bottom: 15px;
font-size: 1em;}
.icons{
    color: #540B51;
position: absolute;
top: 1em;
right:1em;
display: flex;}

.button{
    background-color: #540B51;
    border: none;
    
}

.email_button{background-color: white;
    border: none;}

#gbutton{background-color: #4285F4;
    color: white;


border: none;}

header>div>h2>strong{color:  #ECB12F;}

#gbutton img{background-color: white;}

.hide{ display:none}

#larger_images{width: 100vw;
margin-top: 15px;}

#shorter_images{width: 30vw;}

main{ background-color: #F3EAE2;}

header div div{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
header div div button{
    
    margin-top: 10px;
    border-radius: 4px;
    width: 85%;
    max-width: 305px;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

header div div button :last-of-type{
    background-color: #4285F4;
    align-items: center;
    color: white;
    position: relative;
    margin-left: -82px;
}
    
header div div button img{width: 2rem;
    position: absolute;
margin: 0 -30px;}

div main section{
    display: flex;
    align-items: center;
    position: relative;
}

div main section div{
    flex-direction: column;
    flex-wrap: wrap;
}